<!-- app/views/diary_entries/index.html.erb -->
<h1>日記一覧</h1>
<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= link_to entry.walked_on, diary_entry_path(entry) %>
      （<%= entry.mood || "気分なし" %>）
      - <%= truncate(entry.body, length: 30) %>
    </li>
  <% end %>
</ul>
