<dialog id="completeModal" class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg">🎉 パズル完成！</h3>
    <p class="py-4">おめでとうございます！全てのピースが埋まりました！</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn">閉じる</button>
      </form>
    </div>
  </div>
</dialog>
